@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4" style="color:darkgreen">Welcome!</h1>
    <h5>
        On 14th Feburary, 2003, comprising around 30 members with ages from ~11 to ~23 years (intermediate school age and up), the United Youth Orchestra (UYO) was formed.
    </h5>
    <p>Since its formation, the orchestra has become the premier youth orchestra of the Waikato region, performing two or three concerts each year.
    Our major concert, performed in the WEL Energy Trust Academy of Performing Arts at the University of Waikato in Hamilton, is usually in mid-October.
    We travelled to New Plymouth 19-20th September 2009 to take part in a joint concert with the Taranaki Youth Orchestra (TYO).
    We went to Te Puke (Bay of Plenty) in 2006, 2010 and in 2012 and to New Plymouth in 2005, 2009 and in 2013 where we put on a joint concert with the TYO.
    TYO came to Hamilton to take part in concerts with us in 2003, 2007 and in 2011.
    In 2019, United Youth Orchestras and other three Orchestras had been together for their first ever combined camp at the Cambridge Avantidrome</a>.</p>
</div>
<img src="~/images/Oct2019b.jpg" />