@page
@model UnitedYouthOrchestra7.Pages.NextEventPage.IndexModel
@{
    ViewData["Title"] = "Next Event";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Date: Sunday 20th September 2020, Time: 2-3.15pm
</h4>
<h4>
    Venue: St Matthews Church, Morrinsville, Door sale only at $10 (Under 14: Free)
</h4>
<a>
    The United Youth Orchestra presents a varied programme of popular pieces in their Morrinsville Concert.
    Several very talented young musicians will impress in the ‘Member’s Solo’ segment of the performance.
</a>
<p>
    Come along for a wonderful afternoon of music, inspire your children, and support Waikato’s young musicians.
</p>
<img src="~/images/PosterSept2020.jpg">
