@page
@model Policy.PolicyModel
@{
    ViewData["Title"] = "Our Policy";
}
<h1 style="color:darkgreen">@ViewData["Title"]</h1>

<h3>
    Why united?
</h3>
<h5>
    - we are united in our enjoyment and appreciation of classical and other orchestral and chamber music;
</h5>
<h5>
    - we are united in our aim of helping young musicians of the Waikato to achieve their highest potential in music (as orchestral players, ensemble players, or as soloists);
</h5>
<h5>
    - we are united in bringing together young people of many different nationalities and cultures (we have more than ten countries represented in our ranks);
</h5>
<h5>
    - we are united in our desire to enjoy our music making and social time together.
</h5>
<br />
<img src="~/images/Oct2019a.jpg" />