@page
@model UnitedYouthOrchestra7.Pages.Policy.PrivacyModel
@{
    ViewData["Title"] = "Our Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Why united?
</h4>
<p>
    we are united in our enjoyment and appreciation of classical and other orchestral and chamber music;
    we are united in our aim of helping young musicians of the Waikato to achieve their highest potential in music (as orchestral players, ensemble players, or as soloists);
    we are united in bringing together young people of many different nationalities and cultures (we have more than ten countries represented in our ranks);
    we are united in our desire to enjoy our music making and social time together.
</p>
<img src="~/images/Oct2019a.jpg" />